<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-store">
    <meta http-equiv="Cache-Control" content="no-store">
    <meta http-equiv="Expires" content="0">

    <title>カメラ表示</title>
</head>

<body>

	<video id="player" controls autoplay></video>
	<canvas id="canvas" width="640" height="480"></canvas>
	<br>
	<button id="capture">Capture</button>
	
	<script>
	  const player = document.getElementById('player');
	  const canvas = document.getElementById('canvas');
	  const context = canvas.getContext('2d');
	  const captureButton = document.getElementById('capture');
	
	  const constraints = {
		video: true,
	  };
	
	  captureButton.addEventListener('click', () => {
		// Draw the video frame to the canvas.
		context.drawImage(player, 0, 0, canvas.width, canvas.height);
	  });
	
	  // Attach the video stream to the video element and autoplay.
	  navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
		player.srcObject = stream;
	  });
		const media = navigator.mediaDevices.getUserMedia(constraints);
		media.then(successCallback).catch(errorCallback);
		function successCallback(stream) {
			video.srcObject = stream;
		};
		function errorCallback(err) {
			alert(err);
		};
	</script>

</body>
</html>